body {
  color: #333;
  text-align: center;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  padding: 0;
  margin: 0;
  background-color: rgb(53, 6, 97);
}

#cabecera {
  background: #b92b27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-box-shadow: 0px 13px 21px 2px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 13px 21px 2px rgba(0, 0, 0, 1);
  box-shadow: 0px 13px 21px 2px rgba(0, 0, 0, 1);
  color: #fff;
  font-weight: bold;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.5em;
}
#cabecera img {
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 50%;
}
#container {
  width: 70%;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 0;
  border: 1px solid #ddd;
  margin: 0 auto;
}

#post {
  background-color: #efefef;
  height: 100%;
}
#post h1 {
  font-size: 80px;
}
#post p {
  font-size: 25px;
}

footer {
  width: 100%;
  height: 50px;
  color: white;
  background: #b92b27; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1565c0,
    #b92b27
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
}
footer h3 {
  margin: 0;
  padding-top: 10px;
}
