body {
  color: #333;
  text-align: left;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  width: 70%;
  padding: 0;
  border: 1px solid #ddd;
  margin: 0 auto;
}

.container h1 {
  font-size: 20px;
}
